
.topnav {
    background-color: rgba(0, 0, 0, 0.064);
    overflow: hidden;
 
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    
  }
  .logo {
    float: left;
    max-width: 20%;
    max-height: 150px;
    margin-left: 50px;
    margin-top: 15px;
    
}

.chat {
    max-width: 35px;
    margin-top: 60px;
    margin-left: 900px;
}

.topnav a.nome {
    font-weight: bold;
    font-size: 20px;
    float: right;
    margin-top: 60px;
    margin-right: 20px;
    color: #76D44A;

}
 

.topnav a.dashboard {
  font-weight: bold;
  font-size: 20px;
  float: left;
     margin-top: 80px;
     margin-left: 750px;
     color: #76D44A;

}

  .topnav a.active {
    
   
    color: rgb(0, 0, 0);
  }
  .myButton {
    align-items: center;
    box-shadow: 3px 4px 0px 0px #3dc21b;
    background:linear-gradient(to bottom, #0b9e32 5%, #50b818 100%);
    background-color:#0b9e32;
    border-radius:18px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:9px 18px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    text-emphasis-color: black;
    margin-top: 130px;
    margin-left: 45%;
  }
  .myButton:hover {
    background:linear-gradient(to bottom, #50b818 5%, #0b9e32 100%);
    background-color:#50b818;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }

  .myButtona {
    align-items: center;
    box-shadow: 3px 4px 0px 0px #3dc21b;
    background:linear-gradient(to bottom, #0b9e32 5%, #50b818 100%);
    background-color:#0b9e32;
    border-radius:18px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:9px 18px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    text-emphasis-color: black;
    margin-top: 40px;
    margin-left: 45%;
  }
  .myButtona:hover {
    background:linear-gradient(to bottom, #50b818 5%, #0b9e32 100%);
    background-color:#50b818;
  }
  .myButtona:active {
    position:relative;
    top:1px;
  }

  .myButtonb {
    align-items: center;
    box-shadow: 3px 4px 0px 0px #3dc21b;
    background:linear-gradient(to bottom, #0b9e32 5%, #50b818 100%);
    background-color:#0b9e32;
    border-radius:18px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:9px 18px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    text-emphasis-color: black;
    margin-top: 40px;
    margin-left: 45%;
  }
  .myButtonb:hover {
    background:linear-gradient(to bottom, #50b818 5%, #0b9e32 100%);
    background-color:#50b818;
  }
  .myButtonb:active {
    position:relative;
    top:1px;
  }
  .sair {
    font-weight: bold;
    float: right;
    margin-top: 70px;
    margin-right: 20px;
    color: #76D44A;
  
  } 